/* LAYOUT */

@use "../util/" as u;

body {
  font-family: var(--ff-base);
  font-weight: var(--fw-regular);
  font-size: 0.875rem;
  color: var(--clr-neutral-400);
  background: var(--clr-secondary-200);

  display: grid;
  place-content: center;
  margin: 1rem;
}

.flex_group {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  align-items: center;
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* BUTTON */
.button {
  cursor: pointer;
  text-decoration: none;
  display: inline-flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;

  border: 0;
  border-radius: 0.5rem;
  padding: 0.75em 1.5em;

  background-color: var(--clr-primary-400);
  color: var(--clr-neutral-100);

  font-family: var(--ff-accent);
  font-weight: var(--fw-bold);
  font-size: 0.925rem;
}

.button[data-icon="shopping-cart"]::before {
  content: "";
  background-image: url("../assets/icon-cart.svg");
  width: 15px;
  height: 16px;
}

.button:is(:hover, :focus) {
  background-color: var(--clr-primary-500);
}

/* PRODUCT */
.product {
  --content-padding: 1.5rem;
  --content-spacing: 1rem;

  display: grid;
  background-color: var(--clr-neutral-100);
  border-radius: 0.5rem;
  overflow: hidden;
  max-width: 600px;

  @include u.breakpoints-up(small) {
    --content-padding-alt: 2rem;
    grid-template-columns: 1fr 1fr;
  }
}

.product__content {
  display: grid;
  gap: var(--content-spacing);
  padding: var(--content-padding);

  @include u.breakpoints-up(small) {
    //--content-padding: 2rem;
    padding: var(--content-padding) var(--content-padding-alt);
  }
}

.product__category {
  font-size: 0.8125rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}

.product__title {
  font-size: 2rem;
  font-family: var(--ff-accent);
  font-weight: var(--fw-bold);
  color: var(--clr-neutral-900);
}

.product__price {
  font-size: 1.875rem;
  font-family: var(--ff-accent);
  font-weight: var(--fw-bold);
  color: var(--clr-primary-400);
}

.product__price-original {
  text-decoration: line-through;
}
